html,
body {
  height: 100%;
}
body.modal-open nav {
  padding-right: 15px;
}
.vyrobce-logo {
  max-height: 60%;
  max-width: 150px;
  min-height: 50px;
}
.vyrobce-logo img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap span.required-info {
  color: #808080;
  font-size: 12px;
  font-style: italic;
}
.wrap span.required-info b {
  color: #ff0000;
}
.wrap form .form-group.required label:after {
  display: inline;
  color: #ff0000;
  content: ' *';
}
.wrap .modal .modal-dialog {
  width: 100%;
  max-width: 950px;
}
.wrap .h1-buttons,
.wrap .h2-buttons,
.wrap .h3-buttons {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.wrap .h1-buttons a.btn,
.wrap .h2-buttons a.btn,
.wrap .h3-buttons a.btn {
  margin-right: 10px;
}
.wrap .h1-buttons a.btn:last-child,
.wrap .h2-buttons a.btn:last-child,
.wrap .h3-buttons a.btn:last-child {
  margin-right: 0;
}
.wrap .h1-buttons h1 {
  line-height: 34px;
  float: left;
  min-height: 34px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
}
.wrap .h2-buttons h2 {
  line-height: 34px;
  float: left;
  min-height: 34px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
}
.wrap .h3-buttons h3 {
  line-height: 30px;
  float: left;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
}
.wrap #polozka-seznam-cen table.table-cena {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px #808080 solid;
}
.wrap #polozka-seznam-cen table.table-cena tr:first-of-type td:last-of-type {
  width: 1%;
}
.wrap #polozka-seznam-cen table.table-cena tr td {
  padding: 5px 0;
}
.wrap #kategorie-form #kategorie-parametry .parametr-wrapper {
  margin-bottom: 10px;
}
.wrap #kategorie-form #kategorie-parametry .parametr-wrapper .form-control {
  float: none;
  display: inline-block;
  width: 220px;
  position: relative;
  top: 1px;
}
.wrap .select-btn-wrapper {
  display: table;
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
  position: relative;
}
.wrap .select-btn-wrapper div.form-group:after {
  clear: both;
  display: table;
  content: " ";
}
.wrap .select-btn-wrapper div.bootstrap-select {
  display: table-cell;
  float: left;
  width: 100%;
}
.wrap .select-btn-wrapper .btn-wrapper {
  display: table-cell;
  width: 34px;
  white-space: nowrap;
  vertical-align: top;
  padding-top: 25px;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: /*"\e113"*/ "\e151";
}
a.desc:after {
  content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
