/*
 * Pretizeni puvodnich stylu, at nemusim do toho CSS hrabat...
 */
/** **************************************
 * Generovane barvy
 * http://colorschemedesigner.com/csd-3.5/
 * complement
 * RGB 00C12B
 */
/** *********************************** */
/**
 * complement
 * RGB FF7A00
 */
/** *********************************** */
/**
 * 1em = 18px
 */
body {
  /* *** pretizeni bootstrap stylu *** */
  /* *** ************************* *** */
}
body .alert {
  padding: 15px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 0;
  width: 100%;
}
body .btn {
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 0;
}
body .btn-sm,
body .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
body .bootstrap-select .btn {
  color: #333;
}
body .modal-dialog .modal-content {
  border-radius: 0;
}
body p.napoveda {
  font-size: 0.875em;
  font-style: italic;
  color: #909090;
  margin-bottom: 20px;
  position: relative;
}
body .header .cart.box_1 {
  float: right;
  margin-top: -2px;
}
body .header .header-top .header-login li {
  margin-right: 0.5em;
}
body .header .header-top .header-login li .glyphicon {
  color: #bbb9b9;
  font-size: 12px;
}
body .banner-top {
  background-image: url("../images/back.jpg");
}
body .banner-top ul.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  background: none;
}
body .banner-top ul.breadcrumb li {
  font-size: 0.9em;
  color: #fff;
  margin-top: 1em;
}
body .banner-top ul.breadcrumb li:before:not(:first-of-type) {
  padding: 0 5px;
  color: #fff;
  content: "/\00a0";
  font-weight: bold;
}
body .banner-top ul.breadcrumb li a {
  color: #f67777;
}
body .banner-padding {
  padding-top: 5em;
}
body .mid-pop .pro-img img {
  max-width: 180px;
  width: 100%;
}
body .brand .brand-grid {
  padding: 0 50px;
}
body .brand .brand-grid a {
  display: block;
  height: 100px;
  position: relative;
}
body .brand .brand-grid a img {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body .grid-view .table thead tr th {
  background-color: #38e05d;
  color: #bf3d30;
}
body .grid-view .table tbody tr {
  border-bottom: 1px solid #38e05d;
}
body .grid-view .table tbody tr:hover {
  background-color: rgba(101, 224, 128, 0.3);
}
body .grid-view .table tbody tr:hover td {
  color: #a61000;
}
body .grid-view .table tr th,
body .grid-view .table tr td {
  font-size: 0.875em;
}
body .detail-view tbody tr th,
body .detail-view tbody tr td {
  font-size: 0.875em;
}
body .detail-view tbody tr th {
  text-align: right;
}
body .detail-view tbody tr th:after {
  display: inline;
  content: ':';
}
body #objednavka-detail .box-wrapper {
  border: 1px #24913c solid;
  margin-bottom: 1em;
}
body #objednavka-detail .box-wrapper:last-child {
  margin-bottom: 0;
}
body #objednavka-detail .box-wrapper h4 {
  background-color: rgba(101, 224, 128, 0.3);
  border-bottom: 1px #24913c solid;
  line-height: 3em;
  padding: 0 1em;
}
body #objednavka-detail .box-wrapper h4:not(:first-child) {
  border-top: 1px #24913c solid;
}
body #objednavka-detail .box-wrapper .box-obsah {
  padding: 1em;
}
body #objednavka-detail .box-wrapper .box-obsah ul {
  list-style: none;
}
body #objednavka-krok-dva-form h3 {
  padding: 8px;
  font-size: 1.4em;
  line-height: 1.42857143;
  border-bottom: 2px solid #ddd;
}
body #objednavka-krok-dva-form #dodaci-udaje-form-wrapper.in {
  float: none;
}
body #objednavka-krok-dva-form .radio-wrapper {
  position: relative;
}
body #objednavka-krok-dva-form .radio-wrapper a.icon-right {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -11px;
}
body #objednavka-krok-dva-form .radio-wrapper:hover {
  background-color: #eeeeee;
}
body #objednavka-krok-dva-form .radio-wrapper:hover a.icon-right {
  display: inline-block;
}
body #objednavka-krok-dva-form .field-objednavka-fakturacni_udaje_pk .radio a,
body #objednavka-krok-dva-form .field-objednavka-dodaci_udaje_pk .radio a {
  display: inline-block;
  max-width: 100%;
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
}
body .vyrobce-logo {
  max-height: 60%;
  max-width: 150px;
  min-height: 50px;
}
body .vyrobce-logo img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
body table.vypis-kategorie-vyrobce {
  width: 100%;
  margin-bottom: 30px;
  table-layout: fixed;
  background-color: #ffffff;
}
body table.vypis-kategorie-vyrobce tr td {
  width: 20%;
  max-width: 20%;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 10px;
  vertical-align: top;
}
body table.vypis-kategorie-vyrobce tr td:last-of-type {
  border-right: none;
}
body table.vypis-kategorie-vyrobce tr td:first-of-type {
  background-color: #f5f5f5;
  text-align: left;
}
body table.vypis-kategorie-vyrobce tr td:first-of-type span {
  font-size: 22px;
}
body table.vypis-kategorie-vyrobce tr td div.polozka-obrazek {
  width: 190px;
  height: 190px;
  margin-bottom: 15px;
}
body table.vypis-kategorie-vyrobce tr td div.polozka-obrazek a img {
  width: 100%;
  max-width: 190px;
}
body #podkategorie-kategorie .podkategorie-wrapper img {
  margin-bottom: 10px;
}
body .tab-pane#parametry ul li label {
  display: inline-block;
  width: 160px;
}
body #profil-menu > ul {
  padding-left: 0;
  border: 1px solid #eeeeee;
  list-style: none;
}
body #profil-menu > ul li {
  border-bottom: 1px solid #eeeeee;
  padding: 7px 15px;
  list-style: none;
}
body #profil-menu > ul li:last-child {
  border-bottom: none;
}
body #profil-menu > ul li.active {
  background-color: #337ab7;
}
body #profil-menu > ul li.active a {
  color: #ffffff;
}
body #profil-content .well {
  border-radius: 0;
}
body #profil-content .dashboard-sekce h1,
body #profil-content .dashboard-sekce h2,
body #profil-content .dashboard-sekce h3,
body #profil-content .dashboard-sekce h4,
body #profil-content .dashboard-sekce h5,
body #profil-content .dashboard-sekce h6 {
  margin-bottom: 10px;
}
body #profil-content #objednavky-vyhledavani #objednavky-search-form label {
  margin-bottom: 10px;
  display: block;
  font-size: 0.875em;
  font-style: italic;
  font-weight: normal;
  color: #909090;
}
body #profil-content #objednavky-vyhledavani #objednavky-search-form .form-group {
  width: 100%;
}
body #profil-content #objednavky-vyhledavani #objednavky-search-form .form-group button {
  float: right;
}
body #profil-content #objednavky-vyhledavani #objednavky-search-form .form-group button.btn-sm {
  padding: 7px 10px;
}
body #profil-content #objednavky-vyhledavani #objednavky-search-form .form-group .form-inline-wrapper {
  overflow: hidden;
}
body #profil-content #objednavky-vyhledavani #objednavky-search-form .form-group .form-inline-wrapper input {
  width: 100%;
  border-radius: 0;
}
body #profil-content #profil-dodaci-udaje h2 {
  margin-bottom: 20px;
}
body #profil-content #profil-dodaci-udaje p.napoveda button {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 19px;
}
body #profil-content #profil-dodaci-udaje #dodaci-udaje-list {
  list-style: none;
}
body #profil-content #profil-dodaci-udaje #dodaci-udaje-list li {
  padding: 0 5px;
  margin: 0 0 10px 0;
}
body #profil-content #profil-dodaci-udaje #dodaci-udaje-list li .dodaci-udaje-text {
  display: inline-block;
  width: 80%;
}
#katalog-polozky > div[data-key] div.item-grid1 .mid-pop .zoom-icon {
  height: 40px;
}
#katalog-polozky > div[data-key] div.item-grid1 .item-description {
  float: left;
  width: 100%;
  max-width: 180px;
  height: 67px;
  overflow-y: hidden;
  position: relative;
}
#katalog-polozky > div[data-key] div.item-grid1 .item_add {
  margin-top: 27px;
}
#katalog-polozky > div[data-key] div.item-grid1 .item-price {
  width: 100%;
}
#login-form .input-wrapper {
  margin-bottom: 2em;
}
#login-form .input-wrapper .login-mail {
  margin-bottom: 0;
}
#login-form .input-wrapper .login-mail .form-group {
  width: 95%;
}
#login-form .input-wrapper p.error {
  display: none;
}
#login-form .input-wrapper.has-error .login-mail {
  border-color: #f67777;
}
#login-form .input-wrapper.has-error p.error {
  display: block;
  margin-top: 5px;
  font-size: 0.9em;
  color: #f67777;
}
#kosik-widget {
  position: relative;
}
#kosik-widget > a {
  color: #3A3A3A;
}
#kosik-widget > a:hover {
  text-decoration: none;
}
#kosik-widget > a span.kosik {
  font-size: 20px;
  line-height: 34px;
  position: relative;
  margin-right: 15px;
}
#kosik-widget > a span.kosik span.pocet {
  position: absolute;
  top: -25%;
  right: -25%;
}
#kosik-widget > a span.cena {
  font-size: 12px;
}
#kosik-widget #kosik-detail {
  padding: 10px;
  min-width: 400px;
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 9999;
  border: 3px #54c8ff solid;
  background-color: #ffffff;
  line-height: 1.5;
  display: none;
}
#kosik-widget #kosik-detail:after,
#kosik-widget #kosik-detail:before {
  bottom: 100%;
  left: 30%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#kosik-widget #kosik-detail:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}
#kosik-widget #kosik-detail:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #54c8ff;
  border-width: 19px;
  margin-left: -19px;
}
#kosik-widget #kosik-detail #kosik-polozky {
  font-size: 12px;
}
#kosik-widget #kosik-detail #kosik-polozky table {
  width: 100%;
  margin-bottom: 20px;
}
#kosik-widget #kosik-detail #kosik-polozky table tbody tr td {
  padding: 5px 8px;
}
#kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(2),
#kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(3),
#kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(4) {
  width: 1%;
  white-space: nowrap;
}
#kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(3) {
  text-align: right;
}
#kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(4) a {
  color: #cdcdcd;
}
#kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(4) a:hover {
  color: #a5321d;
}
#kosik-widget #kosik-detail #kosik-polozky table tfoot {
  border-top: 2px #eeeeee solid;
}
#kosik-widget #kosik-detail #kosik-polozky table tfoot tr td {
  padding: 5px 8px;
  font-weight: bold;
}
#kosik-widget #kosik-detail #kosik-polozky table tfoot tr td:nth-child(2),
#kosik-widget #kosik-detail #kosik-polozky table tfoot tr td:nth-child(3),
#kosik-widget #kosik-detail #kosik-polozky table tfoot tr td:nth-child(4) {
  width: 1%;
  white-space: nowrap;
}
#kosik-widget #kosik-detail #kosik-polozky table tfoot tr td:nth-child(3) {
  text-align: right;
}
#kosik-widget #kosik-detail #kosik-tlacitka {
  margin: -10px;
  padding: 10px;
  background-color: #eeeeee;
  text-align: right;
}
#kosik-grid {
  background-color: #ffffff;
}
#kosik-grid table.table thead tr th:nth-of-type(3),
#kosik-grid table.table thead tr th:nth-of-type(4),
#kosik-grid table.table thead tr th:nth-of-type(5),
#kosik-grid table.table thead tr th:nth-of-type(6) {
  text-align: right;
}
#kosik-grid table.table tbody tr:nth-of-type(even) {
  background-color: #fafafa;
}
#kosik-grid table.table tbody tr td {
  line-height: 90px;
}
#kosik-grid table.table tbody tr td:nth-of-type(3),
#kosik-grid table.table tbody tr td:nth-of-type(4),
#kosik-grid table.table tbody tr td:nth-of-type(5),
#kosik-grid table.table tbody tr td:nth-of-type(6) {
  text-align: right;
}
#kosik-grid table.table tbody tr td:nth-of-type(1) {
  width: 1%;
}
#kosik-grid table.table tbody tr td:nth-of-type(1) img {
  width: 90px;
}
#kosik-grid table.table tbody tr td:nth-of-type(2) a {
  color: #f67777;
  text-decoration: none;
}
#kosik-grid table.table tbody tr td:nth-of-type(2) a:hover {
  color: #000000;
}
#kosik-grid table.table tbody tr td:nth-of-type(3) {
  line-height: 1.42857143;
  vertical-align: middle;
}
#kosik-grid table.table tbody tr td:nth-of-type(3) span.polozka-kusu {
  position: relative;
}
#kosik-grid table.table tbody tr td:nth-of-type(3) span.polozka-kusu > span.tlacitka {
  position: absolute;
  top: 20px;
  right: 0;
  width: 32px;
}
#kosik-grid table.table tbody tr td:nth-of-type(6) {
  font-weight: bold;
}
#kosik-grid table.table tbody tr td:nth-of-type(7) {
  text-align: center;
}
#kosik-grid table.table tbody tr td:nth-of-type(7) a {
  color: #cdcdcd;
}
#kosik-grid table.table tbody tr td:nth-of-type(7) a:hover {
  color: #a5321d;
}
#kosik-grid table.table tfoot tr td:nth-of-type(5),
#kosik-grid table.table tfoot tr td:nth-of-type(6) {
  text-align: right;
  font-weight: bold;
}
#prazdny-kosik img {
  display: block;
  margin: 20px auto;
}
.item-stars {
  height: 25px;
}
.item-stars .starbox {
  margin: 2px 0;
}
.item-stars span.no-stars {
  line-height: 25px;
  font-size: 13px;
}
