/*
 * Pretizeni puvodnich stylu, at nemusim do toho CSS hrabat...
 */
@header-link-color: #ffffff;
@header-link-hover: #f67777;

@body-link-color: #f67777;
@body-link-hover: #000000;


/** **************************************
 * Generovane barvy
 * http://colorschemedesigner.com/csd-3.5/
 * complement
 * RGB 00C12B
 */
@zelena-nejtmavsi:      #007D1C;
@zelena-tmava:          #24913C;
@zelena-stredni:        #00C12B;
@zelena-svetla:         #38E05D;
@zelena-nejsvetlejsi:   rgba(101, 224, 128, 0.3);

@cervena-nejtmavsi:     #A61000;
@cervena-tmava:         #BF3D30;
@cervena-stredni:       #FF1800;
@cervena-svetla:        #FF5240;
@cervena-nejsvetlejsi:  #FF8073;
/** *********************************** */
/**
 * complement
 * RGB FF7A00
 */
@hneda-nejtmavsi:       #A65000;
@hneda-tmava:           #BF7530;
@hneda-stredni:         #FF7A00;
@hneda-svetla:          #FF9B40;
@hneda-nejsvetlejsi:    #FFB673;

@modra-nejtmavsi:       #015965;
@modra-tmava:           #1F6B75;
@modra-stredni:         #03899C;
@modra-svetla:          #36BBCE;
@modra-nejsvetlejsi:    #5FC0CE;
/** *********************************** */

/**
 * 1em = 18px
 */
body {
    /* *** pretizeni bootstrap stylu *** */
    .alert {
        padding: 15px;
        margin-bottom: 0;
        border: 1px solid transparent;
        border-radius: 0;
        width: 100%;
    }

    .btn {
        color: #fff;
        padding: 8px 16px;
        font-size: 16px;
        border-radius: 0;
    }

    .btn-sm, .btn-group-sm > .btn {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
    }

    .bootstrap-select {
        .btn {
            color: #333;
        }
    }

    .modal-dialog {
        .modal-content {
            border-radius: 0;
        }
    }
    /* *** ************************* *** */

    p.napoveda {
        font-size: 0.875em;
        font-style: italic;
        color: #909090;
        margin-bottom: 20px;
        position: relative;
    }

    .header {
        .cart {
            &.box_1 {
                float: right;
                margin-top: -2px;
            }
        }

        .header-top {
            .header-login {
                li {
                    margin-right: 0.5em;

                    .glyphicon {
                        color: #bbb9b9;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .banner-top {
        background-image: url("../images/back.jpg");

        ul{
            &.breadcrumb {
                padding: 0;
                margin-bottom: 0;
                list-style: none;
                background: none;

                li {
                    font-size: 0.9em;
                    color: #fff;
                    margin-top: 1em;

                    &:before:not(:first-of-type) {
                        padding: 0 5px;
                        color: #fff;
                        content: "/\00a0";
                        font-weight: bold;
                    }

                    a {
                        color: @body-link-color;
                    }
                }
            }
        }
    }

    .banner-padding {
        padding-top: 5em;
    }

    .mid-pop {
        .pro-img {
            img {
                max-width: 180px;
                width: 100%;
            }
        }
    }

    .brand {
        .brand-grid {
            padding: 0 50px;

            a {
                display: block;
                height: 100px;
                position: relative;

                img {
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }

    .grid-view {
        .table {
            thead {
                tr {
                    th {
                        background-color: @zelena-svetla;
                        color: @cervena-tmava;
                    }
                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid @zelena-svetla;

                    &:hover {
                        background-color: @zelena-nejsvetlejsi;
                        td {
                            color: @cervena-nejtmavsi;
                        }
                    }
                }
            }

            tr {
                th, td {
                    font-size: 0.875em;
                }
            }

        }
    }

    .detail-view {
        tbody {
            tr {
                th, td {
                    font-size: 0.875em;
                }

                th {
                    text-align: right;

                    &:after {
                        display: inline;
                        content: ':';
                    }
                }
            }
        }
    }

    #objednavka-detail {
        .box-wrapper {
            border: 1px @zelena-tmava solid;
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }

            h4 {
                background-color: @zelena-nejsvetlejsi;
                border-bottom: 1px @zelena-tmava solid;
                line-height: 3em;
                padding: 0 1em;

                &:not(:first-child) {
                    border-top: 1px @zelena-tmava solid;
                }
            }

            .box-obsah {
                padding: 1em;

                ul {
                    list-style: none;
                }
            }
        }
    }

    #objednavka-krok-dva-form {
        h3 {
            padding: 8px;
            font-size: 1.4em;
            line-height: 1.42857143;
            border-bottom: 2px solid #ddd;
        }

        #dodaci-stejne-wrapper {}

        #dodaci-udaje-form-wrapper {
            &.in {
                float: none;
            }
        }

        .radio-wrapper {
            position: relative;

            a.icon-right {
                display: none;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -11px;
            }

            &:hover {
                background-color: #eeeeee;
                a.icon-right {
                    display: inline-block;
                }
            }
        }

        .field-objednavka-fakturacni_udaje_pk,
        .field-objednavka-dodaci_udaje_pk {
            .radio {
                a {
                    display: inline-block;
                    max-width: 100%;
                    min-height: 20px;
                    padding-left: 20px;
                    margin-bottom: 0;
                    font-weight: normal;
                }
            }
        }
    }

    .vyrobce-logo {
        max-height: 60%;
        max-width: 150px;
        min-height: 50px;

        img {
            display: block;
            height: auto;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    table.vypis-kategorie-vyrobce {
        width: 100%;
        margin-bottom: 30px;
        table-layout: fixed;
        background-color: #ffffff;

        tr {
            td {
                width: 20%;
                max-width: 20%;

                border-top: 1px solid #eeeeee;
                border-right: 1px solid #eeeeee;

                padding: 10px;

                vertical-align: top;

                &:last-of-type {
                    border-right: none;
                }

                &:first-of-type {
                    background-color: #f5f5f5;
                    text-align: left;
                    // vertical-align: top;

                    span {
                        font-size: 22px;
                    }
                }

                div {
                    &.polozka-obrazek {
                        width: 190px;
                        height: 190px;
                        margin-bottom: 15px;

                        a {
                            img {
                                width: 100%;
                                max-width: 190px;
                            }
                        }
                    }
                }
            }
        }
    }

    #podkategorie-kategorie {
        .podkategorie-wrapper {
            img {
                margin-bottom: 10px;
            }
        }
    }

    .tab-pane {
        &#parametry {
            ul {
                li {
                    label {
                        display: inline-block;
                        width: 160px;
                    }
                }
            }
        }
    }

    #profil-menu {
        & > ul {
            padding-left: 0;
            border: 1px solid #eeeeee;
            list-style: none;

            li {
                border-bottom: 1px solid #eeeeee;
                padding: 7px 15px;
                list-style: none;

                &:last-child {
                    border-bottom: none;
                }

                &.active {
                    background-color: #337ab7;

                    a {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    #profil-content {
        .well {
            border-radius: 0;
        }

        .dashboard-sekce {
            h1, h2, h3, h4, h5, h6 {
                margin-bottom: 10px;
            }
        }

        #objednavky-vyhledavani {
            #objednavky-search-form {
                label {
                    margin-bottom: 10px;
                    display: block;

                    font-size: 0.875em;
                    font-style: italic;
                    font-weight: normal;
                    color: #909090;
                }

                .form-group {
                    width: 100%;

                    button {
                        float: right;

                        &.btn-sm {
                            padding: 7px 10px;
                        }
                    }

                    .form-inline-wrapper {
                        overflow: hidden;

                        input {
                            width: 100%;
                            border-radius: 0;
                        }
                    }
                }
            }
        }

        #profil-dodaci-udaje {
            h2 {
                margin-bottom: 20px;
            }

            p.napoveda {
                button {
                    position: absolute;
                    top: 50%;
                    margin-top: -15px;
                    right: 19px;
                }
            }

            #dodaci-udaje-list {
                list-style: none;

                li {
                    padding: 0 5px;
                    margin: 0 0 10px 0;

                    .dodaci-udaje-text {
                        display: inline-block;
                        width: 80%;
                    }
                }
            }
        }
    }
}

#katalog-polozky {
//    display: flex;
//    flex-direction: row;
//    justify-content: flex-start;
//    flex-wrap: wrap;

    & > div[data-key] {
//        width: 245px;
//        padding: 0 15px;

        div.item-grid1 {
            .mid-pop {
                .zoom-icon {
                    height: 40px;
                }
            }

            .item-description {
                float: left;
                width: 100%;
                max-width: 180px;
                height: 67px;
                overflow-y: hidden;
                position: relative;
            }

            .item_add {
                margin-top: 27px;
            }

            .item-price {
                width: 100%;
            }
        }
    }
}

#login-form {
    .input-wrapper {
        margin-bottom: 2em;

        .login-mail {
            margin-bottom: 0;

            .form-group {
                width: 95%;
            }
        }

        p {
            &.error {
                display: none;
            }
        }

        &.has-error {
            .login-mail {
                border-color: @body-link-color;
            }

            p {
                &.error {
                    display: block;
                    margin-top: 5px;
                    font-size: 0.9em;
                    color: @body-link-color;
                }
            }
        }
    }
}

#kosik-widget {
    position: relative;
    & > a {
        color: #3A3A3A;

        &:hover {
            text-decoration: none;
        }

        span.kosik {
            font-size: 20px;
            line-height: 34px;
            position: relative;
            margin-right: 15px;

            span.pocet {
                position: absolute;
                top: -25%;
                right: -25%;

                &.badge {

                }
            }
        }

        span.cena {
            font-size: 12px;
        }
    }

    #kosik-detail {
        padding: 10px;
        min-width: 400px;
        position: absolute;
        top: 45px;
        right: 0;
        z-index: 9999;
        border: 3px #54c8ff solid;
        background-color: #ffffff;
        line-height: 1.5;

        display: none;

        &:after, &:before {
            bottom: 100%;
            left: 30%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #ffffff;
            border-width: 15px;
            margin-left: -15px;
        }

        &:before {
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: #54c8ff;
            border-width: 19px;
            margin-left: -19px;
        }

        #kosik-polozky {
            font-size: 12px;

            table {
                width: 100%;
                margin-bottom: 20px;

                tbody {
                    tr {
                        td {
                            padding: 5px 8px;

                            &:nth-child(2), &:nth-child(3),&:nth-child(4) {
                                width: 1%;
                                white-space: nowrap;
                            }

                            &:nth-child(3) {
                                text-align: right;
                            }

                            &:nth-child(4) {
                                a {
                                    color: #cdcdcd;

                                    &:hover {
                                        color: #a5321d;
                                    }
                                }
                            }
                        }
                    }
                }

                tfoot {
                    border-top: 2px #eeeeee solid;
                    tr {
                        td {
                            padding: 5px 8px;
                            font-weight: bold;

                            &:nth-child(2), &:nth-child(3),&:nth-child(4) {
                                width: 1%;
                                white-space: nowrap;
                            }

                            &:nth-child(3) {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }

        #kosik-tlacitka {
            margin: -10px;
            padding: 10px;
            background-color: #eeeeee;
            text-align: right;
        }
    }
}

#kosik-grid {
    background-color: #ffffff;

    table.table {
        thead {
            tr {
                th {
                    &:nth-of-type(3),
                    &:nth-of-type(4),
                    &:nth-of-type(5),
                    &:nth-of-type(6) {
                        text-align: right;
                    }
                }
            }
        }

        tbody {
            tr {
                &:nth-of-type(even) {
                    background-color: #fafafa;
                }

                td {
                    line-height: 90px;

                    &:nth-of-type(3),
                    &:nth-of-type(4),
                    &:nth-of-type(5),
                    &:nth-of-type(6) {
                        text-align: right;
                    }

                    &:nth-of-type(1) {
                        width: 1%;

                        img {
                            width: 90px;
                        }
                    }

                    &:nth-of-type(2) {
                        a {
                            color: @body-link-color;
                            text-decoration: none;

                            &:hover {
                                color: @body-link-hover;
                            }
                        }
                    }

                    &:nth-of-type(3) {
                        line-height: 1.42857143;
                        vertical-align: middle;

                        span.polozka-kusu {
                            position: relative;

                            & > span.tlacitka {
                                position: absolute;
                                top: 20px;
                                right: 0;
                                width: 32px;
                            }
                        }
                    }

                    &:nth-of-type(6) {
                        font-weight: bold;
                    }

                    &:nth-of-type(7) {
                        text-align: center;
                        a {
                            color: #cdcdcd;

                            &:hover {
                                color: #a5321d;
                            }
                        }
                    }
                }
            }
        }

        tfoot {
            tr {
                td {
                    &:nth-of-type(5),
                    &:nth-of-type(6) {
                        text-align: right;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

#prazdny-kosik {
    img {
        display: block;
        margin: 20px auto;
    }
}

.item-stars {
    height: 25px;

    .starbox {
        margin: 2px 0;
    }

    span {
        &.no-stars {
            line-height: 25px;
            font-size: 13px;
        }
    }
}