/*
css sipky - http://cssarrowplease.com
*/
html,
body {
    height: 100%;
}

.vyrobce-logo {
    max-height: 60%;
    max-width: 150px;
    min-height: 50px;

    img {
        display: block;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
    }
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;

    background: url("../gfx/body-bg.png") repeat;

    & > .navbar {
        //width: 1170px;
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
    }

    #header {
        width: 100%;
        //background: url("../gfx/body-bg.png") repeat-x;

        #header-menu {
            background-color: rgba(255, 255, 255, 0.6);
            margin-bottom: 20px;

            ul {
                margin-bottom: 0;
                list-style: none;

                li {
                    float: left;
                    padding: 7px 9px;
                }
            }
        }

        & > .row {
            &:nth-child(2) {
                height: 50px;
                line-height: 50px;
            }
        }

        #search-form {
            line-height: normal;
            width: 100%;

            div.input-wrapper {
                width: 100%;

                div.field-vyhledavaniform-fraze {
                    display: table;
                    width: 100%;
                    position: relative;
                    border-collapse: separate;

                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;

                    input {
                        display: table-cell;
                        position: relative;

                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;

                        border-right: none;

                        box-shadow: none;
                        
                        &:focus {
                            border: 1px solid #eeeeee;
                            border-right: none;
                        }
                    }

                    span.input-addon {
                        display: table-cell;
                        width: 1%;
                        white-space: nowrap;
                        vertical-align: middle;

                        button[type=submit] {
                            border-bottom-left-radius: 0;
                            border-top-left-radius: 0;

                            background-color: #ffffff;
                            border: 1px solid #ccc;
                            border-left: none;

                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }

    #content.container {
        //background: url("../gfx/body-bg.png") repeat;
    }
}

.wrap > .container {
    padding: 20px 15px 20px;
    width: 100%;

    &#breadcrumbs {
        padding: 0;

        .breadcrumb {
            border-radius: 0;
            margin-bottom: 0;
        }
    }

    form {
        .form-group {
            &.required {
                label {
                    &:before {
                        display: inline;
                        color: #ff0000;
                        content: '* ';
                    }
                }
            }
        }
    }

    #leve-menu {
        float: left;
        width: 220px;

        & > div {
            background-color: #ffffff;
        }

        #podkategorie {
            ul {
                padding-left: 0;
                border: 1px solid #eeeeee;
                list-style: none;

                li {
                    border-bottom: 1px solid #eeeeee;
                    padding: 7px 15px;

                    &:last-child {
                        border-bottom: none;
                    }

                    &.active {
                        background-color: #337ab7;

                        a {
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        #profil-menu {
            & > ul {
                padding-left: 0;
                border: 1px solid #eeeeee;
                list-style: none;

                li {
                    border-bottom: 1px solid #eeeeee;
                    padding: 7px 15px;

                    &:last-child {
                        border-bottom: none;
                    }

                    &.active {
                        background-color: #337ab7;

                        a {
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        #widgety {
            & > div {
                width: 100%;
                border: 1px solid #eeeeee;
                padding: 7px 15px;
            }
        }
    }

    #katalog-obsah, #profil-obsah {
        margin-left: 240px;
    }

    #katalog-obsah {
        #katalog-filtr {
            & > div {
                padding: 5px 9px;
                background-color: #ffffff;

                margin-bottom: 15px;

                h4 {
                    margin: 0;
                }
            }
        }

        #katalog-polozky {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 0 -10px;

            & > div[data-key] {
                width: 200px;
                /*margin-right: 15px;
                margin-bottom: 15px;*/

                margin: 0 10px 15px;
                padding: 5px;

                background-color: white;

                height: 100%;
                min-height: 290px;

                article.polozka {
                    width: 190px;
                    position: relative;
                    /*margin-bottom: -1000px;
                    padding-bottom: 1000px;*/



                    .polozka-wrapper {

                        .polozka-obrazek {
                            width: 190px;
                            height: 190px;
                            margin-bottom: 15px;

                            a {
                                img {
                                    width: 100%;
                                    max-width: 190px;
                                }
                            }
                        }

                        .polozka-popis {
                            height: 60px;
                        }

                        .polozka-akce {
                            & > button, & > a.btn {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    #detail-polozky {
        div.row {
            margin-bottom: 15px;
        }

        #detail-informace {
            img.img-thumbnail {
                padding: 59px; // +1 px je border

                width: 100%;
                max-width: 300px;
            }

            .col-md-3, .col-md-4, .col-md-6 {
                min-height: 300px;
                background-color: #ffffff;
                background-clip: content-box;

                /*&:last-of-type {
                    border-left: 1px solid #eeeeee;
                }*/
            }
        }

        #detail-popis {

        }

        #detail-galerie {
            a.fancybox {
                margin: 0 5px;
                img {
                    width: 100px;
                }
            }
        }
    }

    #kosik-widget {
        position: relative;
        & > a {
            &:hover {
                text-decoration: none;
            }

            span.kosik {
                font-size: 26px;
                line-height: 30px;
                position: relative;
                margin-right: 15px;

                span.pocet {
                    position: absolute;
                    top: -25%;
                    right: -25%;
                }
            }
        }

        #kosik-detail {
            padding: 20px;
            min-width: 400px;
            position: absolute;
            top: 45px;
            right: 0;
            z-index: 9999;
            border: 3px #54c8ff solid;
            background-color: #ffffff;
            line-height: 1.5;

            display: none;

            &:after, &:before {
                bottom: 100%;
                left: 30%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(136, 183, 213, 0);
                border-bottom-color: #ffffff;
                border-width: 15px;
                margin-left: -15px;
            }

            &:before {
                border-color: rgba(194, 225, 245, 0);
                border-bottom-color: #54c8ff;
                border-width: 19px;
                margin-left: -19px;
            }

            #kosik-polozky {

                table {
                    width: 100%;
                    margin-bottom: 40px;

                    tbody {
                        tr {
                            td {
                                padding: 5px 8px;

                                &:nth-child(2), &:nth-child(3),&:nth-child(4) {
                                    width: 1%;
                                    white-space: nowrap;
                                }

                                &:nth-child(3) {
                                    text-align: right;
                                }

                                &:nth-child(4) {
                                    a {
                                        color: #cdcdcd;

                                        &:hover {
                                            color: #a5321d;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    tfoot {
                        border-top: 2px #eeeeee solid;
                        tr {
                            td {
                                padding: 5px 8px;
                                font-weight: bold;

                                &:nth-child(2), &:nth-child(3),&:nth-child(4) {
                                    width: 1%;
                                    white-space: nowrap;
                                }

                                &:nth-child(3) {
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }

            #kosik-tlacitka {
                margin: -20px;
                padding: 20px;
                background-color: #eeeeee;
                text-align: right;
            }
        }
    }

    #kosik-grid {
        background-color: #ffffff;

        table.table {
            thead {
                background-color: #efefef;

                tr {
                    th {
                        &:nth-of-type(3),
                        &:nth-of-type(4),
                        &:nth-of-type(5),
                        &:nth-of-type(6) {
                            text-align: right;
                        }
                    }
                }
            }

            tbody {
                tr {
                    &:nth-of-type(even) {
                        background-color: #fafafa;
                    }

                    td {
                        line-height: 90px;

                        &:nth-of-type(3),
                        &:nth-of-type(4),
                        &:nth-of-type(5),
                        &:nth-of-type(6) {
                            text-align: right;
                        }

                        &:nth-of-type(1) {
                            width: 1%;

                            img {
                                width: 90px;
                            }
                        }

                        &:nth-of-type(3) {
                            line-height: 1.42857143;
                            vertical-align: middle;

                            span.polozka-kusu {
                                position: relative;

                                & > span.tlacitka {
                                    position: absolute;
                                    top: 20px;
                                    right: 0;
                                    width: 32px;
                                }
                            }
                        }

                        &:nth-of-type(6) {
                            font-weight: bold;
                        }

                        &:nth-of-type(7) {
                            text-align: center;
                            a {
                                color: #cdcdcd;

                                &:hover {
                                    color: #a5321d;
                                }
                            }
                        }
                    }
                }
            }

            tfoot {
                tr {
                    td {
                        &:nth-of-type(5),
                        &:nth-of-type(6) {
                            text-align: right;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    #objednavka-kroky {
        background-color: #eee;
        /*margin-bottom: 20px;*/

        div.col-md-4 {
            text-align: center;
            position: relative;

            &:before {
                display: inline;
                position: absolute;
                left: 10px;
                font-size: 30px;
                line-height: 40px;
                color: #ffffff;
                font-weight: bold;
            }

            &:nth-of-type(1) {
                &:before {
                    content: "1";
                }
            }
            &:nth-of-type(2) {
                &:before {
                    content: "2";
                }
            }
            &:nth-of-type(3) {
                &:before {
                    content: "3";
                }
            }

            a, h2 {
                display: block;
                margin: 0;
                font-size: 20px;
                line-height: 40px;
            }

            &.active {
                position: relative;
                &:after {
                    bottom: 0;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;

                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: #ffffff;
                    border-width: 8px;
                    margin-left: -8px;
                }
            }
        }
    }

    #objednavka-kosik-grid-wrapper {
        background-color: #ffffff;
    }

    #objednavka-krok-jedna-form {
        .cena-wrapper {
            padding: 10px 0;
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 24px;
            background-color: #eeeeee;
        }

        #objednavka-kosik-grid {
            background-color: #ffffff;
        }

        #objednavka-moznosti-dopravy {
            background-color: #ffffff;
        }

        #objednavka-cena-dopravy,
        #objednavka-cena-celkem {

        }
    }

    #objednavka-krok-dva-form-wrapper {
        background-color: #ffffff;
        margin: 0 -15px;
        padding: 0 15px;

        #objednavka-krok-dva-form {


            #dodaci-stejne-wrapper {
                h3 {
                    display: inline-block;
                    float: left;
                }

                .field-objednavka-udaje_stejne {
                    display: inline-block;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    margin-left: 20px;

                    .checkbox {
                        margin: 0;
                        height: 26px;
                    }
                }
            }

            #fakturacni-udaje-form-wrapper,
            #dodaci-udaje-form-wrapper {
                .form-group {
                    label.control-label {
                        width: 33%;
                        float: left;
                        line-height: 34px;
                    }

                    .form-control {
                        width: 67%;
                    }

                    p.help-block {
                        margin-left: 33%;
                    }
                }

                textarea {
                    resize: vertical;
                    min-height: 87px;
                }
            }
        }
    }

    #objednavka-dokonceni-form-wrapper {
        background-color: #ffffff;
        margin: 0 -15px;
        padding: 0 15px;
    }

    #objednavka-dokonceni-form {
        #objednavka-poznamka {
            .form-group {
                label.control-label {
                    width: 33%;
                    float: left;
                    line-height: 34px;
                }

                .form-control {
                    width: 67%;
                }

                p.help-block {
                    margin-left: 33%;
                }
            }

            textarea {
                resize: vertical;
                min-height: 87px;
            }
        }
    }

    #registrace-wrapper, #prihlaseni-wrapper {
        background-color: white;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;

        form {
            margin: 0 -15px;

            .form-fields {
                margin: 0 15px;
            }

            .form-actions {
                background-color: #eeeeee;
                padding: 15px;
                text-align: right;
            }
        }
    }

    table.vypis-kategorie-vyrobce {
        width: 100%;
        margin-bottom: 30px;
        table-layout: fixed;
        background-color: #ffffff;

        tr {
            td {
                width: 20%;
                max-width: 20%;

                border-top: 1px solid #eeeeee;
                border-right: 1px solid #eeeeee;

                padding: 10px;

                &:last-of-type {
                    border-right: none;
                }

                &:first-of-type {
                    background-color: #f5f5f5;
                    text-align: left;
                    vertical-align: top;

                    span {
                        font-size: 22px;
                    }
                }

                div {
                    &.polozka-obrazek {
                        width: 190px;
                        height: 190px;
                        margin-bottom: 15px;

                        a {
                            img {
                                width: 100%;
                                max-width: 190px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
