/*
css sipky - http://cssarrowplease.com
*/
html,
body {
  height: 100%;
}
.vyrobce-logo {
  max-height: 60%;
  max-width: 150px;
  min-height: 50px;
}
.vyrobce-logo img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  background: url("../gfx/body-bg.png") repeat;
}
.wrap > .navbar {
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
}
.wrap #header {
  width: 100%;
}
.wrap #header #header-menu {
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
.wrap #header #header-menu ul {
  margin-bottom: 0;
  list-style: none;
}
.wrap #header #header-menu ul li {
  float: left;
  padding: 7px 9px;
}
.wrap #header > .row:nth-child(2) {
  height: 50px;
  line-height: 50px;
}
.wrap #header #search-form {
  line-height: normal;
  width: 100%;
}
.wrap #header #search-form div.input-wrapper {
  width: 100%;
}
.wrap #header #search-form div.input-wrapper div.field-vyhledavaniform-fraze {
  display: table;
  width: 100%;
  position: relative;
  border-collapse: separate;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap #header #search-form div.input-wrapper div.field-vyhledavaniform-fraze input {
  display: table-cell;
  position: relative;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
  box-shadow: none;
}
.wrap #header #search-form div.input-wrapper div.field-vyhledavaniform-fraze input:focus {
  border: 1px solid #eeeeee;
  border-right: none;
}
.wrap #header #search-form div.input-wrapper div.field-vyhledavaniform-fraze span.input-addon {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.wrap #header #search-form div.input-wrapper div.field-vyhledavaniform-fraze span.input-addon button[type=submit] {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-left: none;
  box-shadow: none;
}
.wrap > .container {
  padding: 20px 15px 20px;
  width: 100%;
}
.wrap > .container#breadcrumbs {
  padding: 0;
}
.wrap > .container#breadcrumbs .breadcrumb {
  border-radius: 0;
  margin-bottom: 0;
}
.wrap > .container form .form-group.required label:before {
  display: inline;
  color: #ff0000;
  content: '* ';
}
.wrap > .container #leve-menu {
  float: left;
  width: 220px;
}
.wrap > .container #leve-menu > div {
  background-color: #ffffff;
}
.wrap > .container #leve-menu #podkategorie ul {
  padding-left: 0;
  border: 1px solid #eeeeee;
  list-style: none;
}
.wrap > .container #leve-menu #podkategorie ul li {
  border-bottom: 1px solid #eeeeee;
  padding: 7px 15px;
}
.wrap > .container #leve-menu #podkategorie ul li:last-child {
  border-bottom: none;
}
.wrap > .container #leve-menu #podkategorie ul li.active {
  background-color: #337ab7;
}
.wrap > .container #leve-menu #podkategorie ul li.active a {
  color: #ffffff;
}
.wrap > .container #leve-menu #profil-menu > ul {
  padding-left: 0;
  border: 1px solid #eeeeee;
  list-style: none;
}
.wrap > .container #leve-menu #profil-menu > ul li {
  border-bottom: 1px solid #eeeeee;
  padding: 7px 15px;
}
.wrap > .container #leve-menu #profil-menu > ul li:last-child {
  border-bottom: none;
}
.wrap > .container #leve-menu #profil-menu > ul li.active {
  background-color: #337ab7;
}
.wrap > .container #leve-menu #profil-menu > ul li.active a {
  color: #ffffff;
}
.wrap > .container #leve-menu #widgety > div {
  width: 100%;
  border: 1px solid #eeeeee;
  padding: 7px 15px;
}
.wrap > .container #katalog-obsah,
.wrap > .container #profil-obsah {
  margin-left: 240px;
}
.wrap > .container #katalog-obsah #katalog-filtr > div {
  padding: 5px 9px;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.wrap > .container #katalog-obsah #katalog-filtr > div h4 {
  margin: 0;
}
.wrap > .container #katalog-obsah #katalog-polozky {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.wrap > .container #katalog-obsah #katalog-polozky > div[data-key] {
  width: 200px;
  /*margin-right: 15px;
                margin-bottom: 15px;*/
  margin: 0 10px 15px;
  padding: 5px;
  background-color: white;
  height: 100%;
  min-height: 290px;
}
.wrap > .container #katalog-obsah #katalog-polozky > div[data-key] article.polozka {
  width: 190px;
  position: relative;
  /*margin-bottom: -1000px;
                    padding-bottom: 1000px;*/
}
.wrap > .container #katalog-obsah #katalog-polozky > div[data-key] article.polozka .polozka-wrapper .polozka-obrazek {
  width: 190px;
  height: 190px;
  margin-bottom: 15px;
}
.wrap > .container #katalog-obsah #katalog-polozky > div[data-key] article.polozka .polozka-wrapper .polozka-obrazek a img {
  width: 100%;
  max-width: 190px;
}
.wrap > .container #katalog-obsah #katalog-polozky > div[data-key] article.polozka .polozka-wrapper .polozka-popis {
  height: 60px;
}
.wrap > .container #katalog-obsah #katalog-polozky > div[data-key] article.polozka .polozka-wrapper .polozka-akce > button,
.wrap > .container #katalog-obsah #katalog-polozky > div[data-key] article.polozka .polozka-wrapper .polozka-akce > a.btn {
  width: 100%;
}
.wrap > .container #detail-polozky div.row {
  margin-bottom: 15px;
}
.wrap > .container #detail-polozky #detail-informace img.img-thumbnail {
  padding: 59px;
  width: 100%;
  max-width: 300px;
}
.wrap > .container #detail-polozky #detail-informace .col-md-3,
.wrap > .container #detail-polozky #detail-informace .col-md-4,
.wrap > .container #detail-polozky #detail-informace .col-md-6 {
  min-height: 300px;
  background-color: #ffffff;
  background-clip: content-box;
  /*&:last-of-type {
                    border-left: 1px solid #eeeeee;
                }*/
}
.wrap > .container #detail-polozky #detail-galerie a.fancybox {
  margin: 0 5px;
}
.wrap > .container #detail-polozky #detail-galerie a.fancybox img {
  width: 100px;
}
.wrap > .container #kosik-widget {
  position: relative;
}
.wrap > .container #kosik-widget > a:hover {
  text-decoration: none;
}
.wrap > .container #kosik-widget > a span.kosik {
  font-size: 26px;
  line-height: 30px;
  position: relative;
  margin-right: 15px;
}
.wrap > .container #kosik-widget > a span.kosik span.pocet {
  position: absolute;
  top: -25%;
  right: -25%;
}
.wrap > .container #kosik-widget #kosik-detail {
  padding: 20px;
  min-width: 400px;
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 9999;
  border: 3px #54c8ff solid;
  background-color: #ffffff;
  line-height: 1.5;
  display: none;
}
.wrap > .container #kosik-widget #kosik-detail:after,
.wrap > .container #kosik-widget #kosik-detail:before {
  bottom: 100%;
  left: 30%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.wrap > .container #kosik-widget #kosik-detail:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}
.wrap > .container #kosik-widget #kosik-detail:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #54c8ff;
  border-width: 19px;
  margin-left: -19px;
}
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table {
  width: 100%;
  margin-bottom: 40px;
}
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tbody tr td {
  padding: 5px 8px;
}
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(2),
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(3),
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(4) {
  width: 1%;
  white-space: nowrap;
}
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(3) {
  text-align: right;
}
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(4) a {
  color: #cdcdcd;
}
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tbody tr td:nth-child(4) a:hover {
  color: #a5321d;
}
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tfoot {
  border-top: 2px #eeeeee solid;
}
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tfoot tr td {
  padding: 5px 8px;
  font-weight: bold;
}
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tfoot tr td:nth-child(2),
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tfoot tr td:nth-child(3),
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tfoot tr td:nth-child(4) {
  width: 1%;
  white-space: nowrap;
}
.wrap > .container #kosik-widget #kosik-detail #kosik-polozky table tfoot tr td:nth-child(3) {
  text-align: right;
}
.wrap > .container #kosik-widget #kosik-detail #kosik-tlacitka {
  margin: -20px;
  padding: 20px;
  background-color: #eeeeee;
  text-align: right;
}
.wrap > .container #kosik-grid {
  background-color: #ffffff;
}
.wrap > .container #kosik-grid table.table thead {
  background-color: #efefef;
}
.wrap > .container #kosik-grid table.table thead tr th:nth-of-type(3),
.wrap > .container #kosik-grid table.table thead tr th:nth-of-type(4),
.wrap > .container #kosik-grid table.table thead tr th:nth-of-type(5),
.wrap > .container #kosik-grid table.table thead tr th:nth-of-type(6) {
  text-align: right;
}
.wrap > .container #kosik-grid table.table tbody tr:nth-of-type(even) {
  background-color: #fafafa;
}
.wrap > .container #kosik-grid table.table tbody tr td {
  line-height: 90px;
}
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(3),
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(4),
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(5),
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(6) {
  text-align: right;
}
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(1) {
  width: 1%;
}
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(1) img {
  width: 90px;
}
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(3) {
  line-height: 1.42857143;
  vertical-align: middle;
}
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(3) span.polozka-kusu {
  position: relative;
}
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(3) span.polozka-kusu > span.tlacitka {
  position: absolute;
  top: 20px;
  right: 0;
  width: 32px;
}
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(6) {
  font-weight: bold;
}
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(7) {
  text-align: center;
}
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(7) a {
  color: #cdcdcd;
}
.wrap > .container #kosik-grid table.table tbody tr td:nth-of-type(7) a:hover {
  color: #a5321d;
}
.wrap > .container #kosik-grid table.table tfoot tr td:nth-of-type(5),
.wrap > .container #kosik-grid table.table tfoot tr td:nth-of-type(6) {
  text-align: right;
  font-weight: bold;
}
.wrap > .container #objednavka-kroky {
  background-color: #eee;
  /*margin-bottom: 20px;*/
}
.wrap > .container #objednavka-kroky div.col-md-4 {
  text-align: center;
  position: relative;
}
.wrap > .container #objednavka-kroky div.col-md-4:before {
  display: inline;
  position: absolute;
  left: 10px;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  font-weight: bold;
}
.wrap > .container #objednavka-kroky div.col-md-4:nth-of-type(1):before {
  content: "1";
}
.wrap > .container #objednavka-kroky div.col-md-4:nth-of-type(2):before {
  content: "2";
}
.wrap > .container #objednavka-kroky div.col-md-4:nth-of-type(3):before {
  content: "3";
}
.wrap > .container #objednavka-kroky div.col-md-4 a,
.wrap > .container #objednavka-kroky div.col-md-4 h2 {
  display: block;
  margin: 0;
  font-size: 20px;
  line-height: 40px;
}
.wrap > .container #objednavka-kroky div.col-md-4.active {
  position: relative;
}
.wrap > .container #objednavka-kroky div.col-md-4.active:after {
  bottom: 0;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
.wrap > .container #objednavka-kosik-grid-wrapper {
  background-color: #ffffff;
}
.wrap > .container #objednavka-krok-jedna-form .cena-wrapper {
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 24px;
  background-color: #eeeeee;
}
.wrap > .container #objednavka-krok-jedna-form #objednavka-kosik-grid {
  background-color: #ffffff;
}
.wrap > .container #objednavka-krok-jedna-form #objednavka-moznosti-dopravy {
  background-color: #ffffff;
}
.wrap > .container #objednavka-krok-dva-form-wrapper {
  background-color: #ffffff;
  margin: 0 -15px;
  padding: 0 15px;
}
.wrap > .container #objednavka-krok-dva-form-wrapper #objednavka-krok-dva-form #dodaci-stejne-wrapper h3 {
  display: inline-block;
  float: left;
}
.wrap > .container #objednavka-krok-dva-form-wrapper #objednavka-krok-dva-form #dodaci-stejne-wrapper .field-objednavka-udaje_stejne {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.wrap > .container #objednavka-krok-dva-form-wrapper #objednavka-krok-dva-form #dodaci-stejne-wrapper .field-objednavka-udaje_stejne .checkbox {
  margin: 0;
  height: 26px;
}
.wrap > .container #objednavka-krok-dva-form-wrapper #objednavka-krok-dva-form #fakturacni-udaje-form-wrapper .form-group label.control-label,
.wrap > .container #objednavka-krok-dva-form-wrapper #objednavka-krok-dva-form #dodaci-udaje-form-wrapper .form-group label.control-label {
  width: 33%;
  float: left;
  line-height: 34px;
}
.wrap > .container #objednavka-krok-dva-form-wrapper #objednavka-krok-dva-form #fakturacni-udaje-form-wrapper .form-group .form-control,
.wrap > .container #objednavka-krok-dva-form-wrapper #objednavka-krok-dva-form #dodaci-udaje-form-wrapper .form-group .form-control {
  width: 67%;
}
.wrap > .container #objednavka-krok-dva-form-wrapper #objednavka-krok-dva-form #fakturacni-udaje-form-wrapper .form-group p.help-block,
.wrap > .container #objednavka-krok-dva-form-wrapper #objednavka-krok-dva-form #dodaci-udaje-form-wrapper .form-group p.help-block {
  margin-left: 33%;
}
.wrap > .container #objednavka-krok-dva-form-wrapper #objednavka-krok-dva-form #fakturacni-udaje-form-wrapper textarea,
.wrap > .container #objednavka-krok-dva-form-wrapper #objednavka-krok-dva-form #dodaci-udaje-form-wrapper textarea {
  resize: vertical;
  min-height: 87px;
}
.wrap > .container #objednavka-dokonceni-form-wrapper {
  background-color: #ffffff;
  margin: 0 -15px;
  padding: 0 15px;
}
.wrap > .container #objednavka-dokonceni-form #objednavka-poznamka .form-group label.control-label {
  width: 33%;
  float: left;
  line-height: 34px;
}
.wrap > .container #objednavka-dokonceni-form #objednavka-poznamka .form-group .form-control {
  width: 67%;
}
.wrap > .container #objednavka-dokonceni-form #objednavka-poznamka .form-group p.help-block {
  margin-left: 33%;
}
.wrap > .container #objednavka-dokonceni-form #objednavka-poznamka textarea {
  resize: vertical;
  min-height: 87px;
}
.wrap > .container #registrace-wrapper,
.wrap > .container #prihlaseni-wrapper {
  background-color: white;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.wrap > .container #registrace-wrapper form,
.wrap > .container #prihlaseni-wrapper form {
  margin: 0 -15px;
}
.wrap > .container #registrace-wrapper form .form-fields,
.wrap > .container #prihlaseni-wrapper form .form-fields {
  margin: 0 15px;
}
.wrap > .container #registrace-wrapper form .form-actions,
.wrap > .container #prihlaseni-wrapper form .form-actions {
  background-color: #eeeeee;
  padding: 15px;
  text-align: right;
}
.wrap > .container table.vypis-kategorie-vyrobce {
  width: 100%;
  margin-bottom: 30px;
  table-layout: fixed;
  background-color: #ffffff;
}
.wrap > .container table.vypis-kategorie-vyrobce tr td {
  width: 20%;
  max-width: 20%;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 10px;
}
.wrap > .container table.vypis-kategorie-vyrobce tr td:last-of-type {
  border-right: none;
}
.wrap > .container table.vypis-kategorie-vyrobce tr td:first-of-type {
  background-color: #f5f5f5;
  text-align: left;
  vertical-align: top;
}
.wrap > .container table.vypis-kategorie-vyrobce tr td:first-of-type span {
  font-size: 22px;
}
.wrap > .container table.vypis-kategorie-vyrobce tr td div.polozka-obrazek {
  width: 190px;
  height: 190px;
  margin-bottom: 15px;
}
.wrap > .container table.vypis-kategorie-vyrobce tr td div.polozka-obrazek a img {
  width: 100%;
  max-width: 190px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: /*"\e113"*/ "\e151";
}
a.desc:after {
  content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
